@import "../../styles/variables";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    height: 64px;
    background: $color-coal;
  }

  .header__logo,
  .header__nav {
    width: 64px;
    height: 64px;
    background-color: $color-coal;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.24s;

    @media (max-width: $breakpoint-mobile) {
      width: 48px;
      height: 48px;
    }

    svg {
      fill: $color-white;
    }

    &:hover {
      background: $color-dark-grey;
    }
  }

  .header__logo {
    left: 0;
    border-bottom-right-radius: 20px;

    @media (max-width: $breakpoint-mobile) {
      border-radius: 50%;
      top: 8px;
      left: 8px;
    }

    svg {
      width: 24px;
    }
  }

  .header__nav {
    right: 0;
    border-bottom-left-radius: 20px;

    @media (max-width: $breakpoint-mobile) {
      border-radius: 50%;
      top: 8px;
      right: 8px;
    }

    svg {
      width: 24px;
    }
  }
}
