@import "../../styles/variables";

.header {
  width: 100%;
  margin-bottom: 64px;

  .header__logo,
  .header__nav {
    width: 92px;
    height: 92px;
    background-color: $color-coal;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.24s;

    svg {
      fill: $color-white;
    }

    &:hover {
      background: $color-dark-grey;
    }

    @media (max-width: 870px) {
      width: 64px;
      height: 64px;
    }
  }

  .header__logo {
    left: 0;
    border-bottom-right-radius: 20px;

    svg {
      width: 42px;

      @media (max-width: 870px) {
        width: 24px;
      }
    }
  }

  .header__nav {
    right: 0;
    border-bottom-left-radius: 20px;

    svg {
      width: 24px;
    }
  }
}
