@import "../../styles/variables";

article.article {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-gap: 40px;
  margin: 50px 0;
  border-radius: 4px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.24s;

  .article__content {
    align-self: center;

    .content__category {
      font-size: 14px;
      font-family: "Noto Sans", serif;
      font-weight: 600;
      letter-spacing: 1px;
      color: $color-white;
      line-height: 1;
      padding-left: 16px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 8px;

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0;
        width: 8px;
        height: 24px;
        display: block;
        background: $color-orange;
      }
    }

    .content__title {
      padding: 24px 0;
      h1 {
        font-size: 32px;
        font-family: "Noto Serif", serif;
        font-weight: 700;
        color: $color-white;
      }
    }

    .content__body {
      p {
        font-size: 16px;
        font-family: "Noto Sans", serif;
        font-weight: 400;
        color: $color-white;
        line-height: 1.8;
      }
    }

    .content__datetime {
      padding: 16px 0;
      font-size: 14px;
      font-family: "Noto Sans", serif;
      text-transform: uppercase;
      font-weight: 400;
      color: $color-grey;
      line-height: 1.8;
    }
  }

  .article__image {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba($color-dark, 0.2);
    background: rgba($color-light, 0.2);
    animation: breathe 5s ease forwards infinite;

    @keyframes breathe {
      0% {
        background: rgba($color-light, 0.05);
      }
      50% {
        background: rgba($color-light, 0.1);
      }
      100% {
        background: rgba($color-light, 0.05);
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    img {
      opacity: 0;
      animation: fadeIn 1s forwards;
      border-radius: 4px;
    }
  }

  &:hover {
    background: lighten($color-dark, 2);
  }

  &:first-of-type {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;

    &:after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: -40px;
      height: 1px;
      background: #2e3238;
    }

    .content__category {
      font-size: 14px;
    }

    .content__title h1 {
      font-size: 48px;
    }

    .content__body p {
      font-size: 18px;
    }
  }

  &.article--detail {
    width: 100%;
    max-width: 960px;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 30px;
    cursor: initial;

    &:hover {
      background: initial;
    }

    .content__title {
      h1 {
        text-align: center;
        font-size: 64px;
      }
    }
    .content__datetime {
      text-align: center;
      padding: 0;
    }

    .article__image {
      margin: 0 0 30px 0;
    }

    .content__body {
      p {
        font-size: 16px;
        max-width: 70ch;
        font-family: "Noto Sans", serif;
        font-weight: 400;
        color: $color-white;
        line-height: 1.8;
        margin: 24px auto;
      }
    }
  }
}
