@import "../../styles/variables";

article.article {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 30px;

  .article__header {
    .header__icon {
      text-align: center;

      svg {
        fill: $color-light-grey;
        width: 64px;
      }
    }

    .header__title {
      h1 {
        text-align: center;
        font-size: 52px;
        font-weight: 700;
        line-height: 1.1;
        color: $color-coal;
        font-family: $font-primary;
        margin: 24px 0;

        @media (max-width: 870px) {
          font-size: 42px;
        }
      }
    }

    .header__info {
      text-align: center;
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 1.5;
      max-width: 50ch;
      margin: 0 auto;
      color: $color-dark-grey;

      span {
        color: $color-border;
        margin: 0 8px;
      }
    }

    .header__hero {
      width: 100%;
      margin: 42px auto;

      @media (max-width: 1400px) {
        max-width: 860px;
      }

      figure {
        width: 100%;
        position: relative;
        margin: 0;

        @media (max-width: 870px) {
          width: calc(100% + 60px);
          margin-left: -30px;
        }

        div {
          position: relative !important;
          width: 100%;
          padding-top: 56.25%;
          box-shadow: 0 2px 8px rgba($color-dark, 0.3);
          background: rgba($color-light, 0.2);
          border-radius: 8px;

          @media (max-width: 870px) {
            border-radius: 0;
          }

          img {
            border-radius: 8px;

            @media (max-width: 870px) {
              border-radius: 0;
            }
          }
        }

        figcaption {
          text-align: center;
          font-family: $font-secondary;
          color: $color-light-grey;
          padding: 16px;
          font-weight: normal;
          font-size: 13px;
          @media (max-width: 870px) {
            padding: 8px 0 16px;
            font-size: 12px;
          }
        }
      }

      @media (max-width: 870px) {
        margin: 32px 0 16px;
      }
    }
  }

  .article__main {
    position: relative;
    max-width: 550px;
    margin: 0 auto;

    .main__sideinfo {
      position: absolute;
      width: 64px;
      top: 10px;
      left: -100px;
      border-top: 3px solid #5ea8b9;
      padding-top: 16px;
      text-align: center;

      .sideinfo__date {
        &.sideinfo__date--desktop {
          font-family: $font-primary;
          color: $color-coal;
          font-size: 42px;
          margin-bottom: 4px;

          span {
            font-family: $font-secondary;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: bold;
            color: $color-dark-grey;
            text-transform: uppercase;
            display: block;
            padding-top: 8px;
          }

          @media (max-width: 870px) {
            display: none;
          }
        }

        &.sideinfo__date--mobile {
          font-family: $font-secondary;
          color: $color-dark-grey;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;

          @media (min-width: 871px) {
            display: none;
          }
        }
      }

      .sideinfo__share {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 24px 0 0;
          align-items: center;
          justify-content: center;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            margin: 6px 0;

            a {
              justify-content: center;
              align-items: center;
              display: flex;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 1px solid $color-border;
              transition: all 0.24s;
              flex-shrink: 0;
              cursor: pointer;

              &:hover {
                background: $color-coal;
                box-shadow: 0 1px 3px rgba($color-black, 0.4);

                svg {
                  fill: $color-white;
                }
              }
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            svg {
              fill: $color-dark-grey;
              width: 20px;
              height: 20px;
              transition: fill 0.24s;
            }
          }
        }
      }

      @media (max-width: 870px) {
        position: relative;
        width: 100%;
        top: initial;
        left: initial;
        display: flex;
        flex-direction: row;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        border: initial;

        .sideinfo__share {
          ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: space-between;

            li {
              margin-left: 8px;
            }
          }
        }
      }
    }

    p {
      font-size: 18px;
      font-family: $font-tertiary;
      color: $color-coal;
      margin: 24px auto;
      line-height: 1.8;
    }

    &.article__main--404 {
      padding-top: 40px;
      text-align: center;
    }
  }

  .article__footer {
    max-width: 350px;
    margin: 128px auto 64px;

    .footer__comments {
      border-top: $color-border 1px solid;
      border-bottom: $color-border 1px solid;
      padding: 24px;
      text-align: center;
      position: relative;

      span {
        font-size: 15px;
        font-family: $font-tertiary;
        color: $color-light-grey;

        a {
          color: $color-coal;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:before,
      &:after {
        width: 16px;
        height: 16px;
        border: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        content: "·";
        font-size: 12px;
        font-weight: bold;
        font-family: $font-secondary;
        color: $color-border;
        position: absolute;
        background: $color-smoke-white;
        left: 50%;
        margin-left: -8px;
      }

      &:before {
        top: -9px;
      }

      &:after {
        bottom: -10px;
      }
    }
    .footer__share {
      position: relative;

      ul {
        list-style: none;
        display: flex;
        padding: 48px 0;
        margin: 0;
        align-items: center;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          margin: 0 6px;

          a {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            border-radius: 50%;
            border: 1px solid $color-border;
            transition: all 0.24s;
            cursor: pointer;

            &:hover {
              background: $color-coal;
              box-shadow: 0 1px 3px rgba($color-black, 0.4);

              svg {
                fill: $color-white;
              }
            }
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          svg {
            fill: $color-dark-grey;
            width: 20px;
            height: 20px;
            transition: fill 0.24s;
          }
        }
      }

      .share__tooltip {
        background: rgba($color-coal, 0.93);
        position: absolute;
        bottom: 0;
        color: $color-smoke-white;
        padding: 8px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        border-radius: 4px;
        font-weight: normal;
        font-family: $font-secondary;
      }
    }
  }
}
