@import "../../styles/variables";

article.article {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .article__hero {
    background: $color-dark;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;

    @media (max-width: $breakpoint-desktop) {
      width: 45%;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 40%;
    }

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
    }

    figcaption {
      position: fixed;
      z-index: 999;
      bottom: 16px;
      left: 16px;
      color: $color-light;
      font-family: $font-secondary;
      font-size: 13px;
      opacity: 0.5;
    }
  }

  .article__content {
    width: 50%;
    margin-left: 50%;
    padding: 92px 48px 0;

    @media (max-width: $breakpoint-desktop) {
      width: 55%;
      margin-left: 45%;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 60%;
      margin-left: 40%;
    }

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      margin-left: 0;
      padding: 128px 32px 0 32px;
    }

    .article__title {
      h1 {
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.1;
        max-width: 18ch;
        color: $color-coal;
        font-family: $font-primary;
        margin: 24px auto;

        @media (max-width: $breakpoint-mobile) {
          font-size: 38px;
        }
      }
    }

    .article__info {
      text-align: center;
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 1.5;
      margin: 0 auto;
      color: $color-dark-grey;

      span {
        color: $color-border;
        margin: 0 8px;
      }

      a {
        text-decoration: none;
        color: $color-dark-grey;
      }
    }

    .article__main {
      padding-top: 24px;

      .main__hero {
        @media (min-width: $breakpoint-mobile + 1) {
          display: none;
        }

        figure {
          width: 100%;
          position: relative;
          margin: 0;

          div {
            position: relative !important;
            width: 100%;
            padding-top: 70%;
            box-shadow: 0 2px 8px rgba($color-dark, 0.3);
            border-radius: 4px;
            background: $color-coal;

            img {
              border-radius: 4px;
            }
          }

          figcaption {
            text-align: center;
            font-family: $font-secondary;
            color: $color-light-grey;
            padding: 8px 16px;
            font-weight: normal;
            font-size: 13px;
          }
        }
      }

      p {
        font-size: 17px;
        font-family: $font-tertiary;
        color: $color-coal;
        margin: 24px auto;
        max-width: 500px;
        line-height: 1.8;
        em {
          font-style: italic;
        }

        a {
          color: $color-dark-grey;
          text-decoration: none;
          border-bottom: 2px dotted $color-dark-grey;
          transition: all 0.24s;

          &:hover {
            color: $color-dark-aqua;
          }
        }
      }

      .article__footer {
        max-width: 350px;
        margin: 64px auto;

        .footer__comments {
          border-top: $color-border 1px solid;
          border-bottom: $color-border 1px solid;
          padding: 24px;
          text-align: center;
          position: relative;
          margin-bottom: 48px;

          span {
            font-size: 15px;
            font-family: $font-tertiary;
            color: $color-light-grey;

            a {
              color: $color-coal;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:before,
          &:after {
            width: 16px;
            height: 16px;
            border: 1px solid $color-border;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            content: "·";
            font-size: 12px;
            font-weight: bold;
            font-family: $font-secondary;
            color: $color-border;
            position: absolute;
            background: $color-smoke-white;
            left: 50%;
            margin-left: -8px;
          }

          &:before {
            top: -9px;
          }

          &:after {
            bottom: -10px;
          }

          &.footer__comments--empty {
            border-bottom: none;
            padding: 0;
            &:after {
              display: none;
            }
          }
        }
        .footer__share {
          position: relative;

          ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: center;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 48px;
              height: 48px;
              margin: 0 6px;

              a {
                justify-content: center;
                align-items: center;
                display: flex;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                border-radius: 50%;
                border: 1px solid $color-border;
                transition: all 0.24s;
                cursor: pointer;

                &:hover {
                  background: $color-coal;
                  box-shadow: 0 1px 3px rgba($color-black, 0.4);

                  svg {
                    fill: $color-white;
                  }
                }
              }

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }

              svg {
                fill: $color-dark-grey;
                width: 20px;
                height: 20px;
                transition: fill 0.24s;
              }
            }
          }

          .share__tooltip {
            background: rgba($color-coal, 0.93);
            position: absolute;
            bottom: 0;
            color: $color-smoke-white;
            padding: 8px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            border-radius: 4px;
            font-weight: normal;
            font-family: $font-secondary;
          }
        }
      }
    }
  }
}

.home-article {
  width: 100%;
  max-width: 850px;
  box-sizing: border-box;
  margin: 16px auto;
  padding: 32px;
  border-radius: 4px;
  background: $color-light;
  cursor: pointer;
  transition: all 0.24s;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  column-gap: 32px;

  &:hover {
    background: #fff;
    box-shadow: 0 2px 5px lighten($color-dark, 70%);
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    background: #fff;
    box-shadow: 0 2px 5px lighten($color-dark, 70%);
    margin: 24px auto;
  }

  .home-article__content {
    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 16px;
      color: $color-coal;
      font-family: $font-primary;

      @media (max-width: $breakpoint-mobile) {
        font-size: 28px;
      }
    }

    p {
      font-size: 16px;
      font-family: $font-tertiary;
      color: $color-dark-grey;
      margin: 24px auto;
      line-height: 1.3;
      em {
        font-style: italic;
      }
    }

    .home-article__info {
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 1.5;
      margin: 0 auto;
      color: $color-dark-grey;

      span {
        color: $color-border;
        margin: 0 8px;
      }

      a {
        text-decoration: none;
        color: $color-dark-grey;
      }
    }
  }

  .home-article__hero {
    width: 100%;

    figure {
      width: 100%;
      position: relative;
      margin: 0;

      div {
        position: relative !important;
        width: 100%;
        padding-top: 70%;
        box-shadow: 0 2px 8px rgba($color-dark, 0.3);
        border-radius: 4px;
        background: $color-coal;

        img {
          border-radius: 4px;
        }
      }
    }
  }
}
