@import "../../styles/variables";

.footer {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 30px;
  border-top: 1px solid #2e3238;
}
