@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

$font-primary: "DM Serif Display", serif;
$font-secondary: "Source Sans Pro", sans-serif;

h1 {
  font-family: $font-primary;
  font-size: 48px;
}
