$color-dark: #23272e;
$color-grey: #97999c;
$color-light: #f9fbfd;
$color-white: #fff;
$color-orange: #c43200;

$color-white: #fff;
$color-smoke-white: #f6f6f8;
$color-black: #000;
$color-coal: #231f1f;
$color-dark-grey: #60606b;
$color-border: #c9c9cf;
$color-light-grey: #979797;

$font-primary: ivypresto-headline, serif;
$font-secondary: "Roboto", sans-serif;
$font-tertiary: "noto Serif", serif;

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 870px;
$breakpoint-mobile: 780px;
